.jumbotron {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

#folders {
    margin: 40px 5px 40px 10px;
}

#folders .folder-icon {
    padding-right: 5px;
}

.owner-icon {
    height: 35px;
}

#folders a {
    color: #000000;
}

#folders a:hover {
    color: #000000;
    background: transparent;
    text-decoration: underline;
}

.photo-container {
    display: block;
    margin: 20px;
}

.photo-container .photo-item {
    float: left;
    margin: 2px;
    padding: 2px;
    border: 1px solid rgba(50, 172, 185, 0.13);
    text-align: center;
    width: 220px;
    height: 170px;
}

.photo-container .photo-img {
    max-width: 220px;
    max-height: 125px;
}

.photo-container #presentation {
    display: none;
    position: fixed;
    top: 52px;
    left: 2%;
    width: 95%;
    height: 90%;
    padding: 3px;
    z-index: 1002;
    overflow: auto;
    background-color: rgba(30, 30, 30, 0.83);
    text-align: center;
    /*background-color: #1e1e1e;*/
    /*opacity: .93;*/
}

.photo-container #presentation #frame {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: 93%;
}

.fullSize {
    height: 100% !important;
}

.photo-container #presentation #presentation-tools {
    background-color: #1e1e1e;
    opacity: .93;
    width: 100%;
    height: 7%;
    color: whitesmoke;
}

.photo-container #presentation #close-presentation {
    padding-right: 5px;
    color: whitesmoke;
}

.photo-container #presentation .nav-button {
    -webkit-appearance: none;
    cursor: pointer;
    background: 0 0;
    border: 0;
    padding: 0 5px 0 5px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: whitesmoke;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.word-break {
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP Printers */
    word-wrap: break-word; /* IE 5+ */
}
