#video {
    -webkit-filter: sepia(1);
}

.photo-item {
    float: left;
    margin: 2px;
    padding: 2px;
    border: 1px solid rgba(50, 172, 185, 0.13);
    text-align: center;
    width: 220px;
    height: 170px;
}
.photo-img{
    max-width: 220px;
    max-height: 125px;
}
pre {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}